/*----------- Home -----------*/

.home-area {
  background-position: bottom center;
  height: 100vh;

  .home-content {
    text-align: left;
  }

  .content-greet {
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 0.3px;
    line-height: 1.5;

    b {
      font-weight: 600;
    }
  }

  .content-skills {
    font-weight: 700;
    font-size: 71px;
    margin-bottom: 22px;
    letter-spacing: 0.3px;

    .single-skill {
      // overflow: hidden;
      vertical-align: top;
      display: inline-block;
      position: relative;
      text-align: left;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
      }

      b {
        display: inline-block;
        position: absolute;
        white-space: nowrap;
        opacity: 0;
        left: 0;
        top: 0;

        &.is-visible {
          position: relative;
          opacity: 1;

          &:after {
            content: '';
            display: block;
            margin-top: 5px;
            height: 5px;
            width: 100%;
          }
        }
      }
    }
  }

  .content-description {
    margin-bottom: 30px;
    font-size: 17px;
  }

  .content-work,
  .content-hire {
    margin: 0 16px 0 0;
    box-shadow: 0 3px 6px 0 rgba(#000, 0.2);
    border-color: transparent;
  }

  .home-tip {
    position: absolute;
    bottom: 3.75%;
    left: 15px;
    font-size: 16px;
    line-height: 100%;
    font-weight: 300;
    &:after {
      content: '';
      display: inline-block;
      height: 2px;
      width: 28px;
      position: absolute;
      margin-left: 6px;
      top: 62%;
      transform: translateY(-50%);
    }
  }

  .home-mouse {
    position: absolute;
    width: 29px;
    right: 0;
    bottom: 3.75%;
    left: 0;
    margin: 0 auto;
    cursor: default;

    .mouse-shape {
      width: 3px;
      padding: 5px 11px;
      height: 28px;
      border: 2px solid transparent;
      border-radius: 25px;
      opacity: .75;
      box-sizing: content-box;

      .mouse-wheel {
        width: 3px;
        height: 9px;
        border-radius: 25%;
        animation-name: scrollDown;
        animation-duration: 1.3s;
        animation-timing-function: cubic-bezier(.15, .41, .69, .94);
        animation-iteration-count: infinite;
      }

      @keyframes scrollDown {
        0% {
          opacity: 0;
        }

        10% {
          transform: translateY(0);
          opacity: 1;
        }

        100% {
          transform: translateY(15px);
          opacity: 0;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .home-area {
    .content-greet {
      margin-bottom: 18px;
    }

    .content-skills {
      margin-bottom: 20px;
      font-size: 55px;
    }

    .content-description {
      margin-bottom: 25px;
    }
  }
}

@include media-breakpoint-down(md) {
  .home-area {
    height: auto;
    padding: 138px 0 90px 0;

    .content-skills {
      .single-skill {
        b {
          &.is-visible {
            &:after {
              margin-top: 3px;
              height: 3px;
            }
          }
        }
      }
    }

    .content-description {
      font-size: 15px;
    }

    .home-tip,
    .home-mouse {
      display: none;
    }
  }
}

@include media-breakpoint-down(xs) {
  .home-area {
    .content-skills {
      font-size: 44px;
    }

    .content-work,
    .content-hire {
      margin: 0 16px 12px 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .home-area {
    .content-greet {
      font-size: 22px;
    }
    .content-skills {
      font-size: 34px;
    }
  }
}
