+nl()
+nl()
// Scripts
script(src='js/jquery.min.js')
script(src='js/bootstrap.bundle.min.js')
script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=Set,Array.from,Object.assign,Array.prototype.find,Array.prototype.includes')
script(src='js/shuffle.min.js')
script(src='js/animatedModal.js')
script(src='js/owl.carousel.min.js')
script(src='js/main.js')
+nl()
// Custom JS (Add your custom JS scripts to this file)
script(src='js/custom.js')
+nl()
