+nl()
// Footer
footer.footer-area.single-section
  .container
    +nl()
    // Main footer
    .row.main-footer
      .col-12.col-md-3
        h5.column-title About
        ul.list-unstyled.column-content
          li
            a(data-scroll='', href='#home-area') Home
          li
            a(data-scroll='', href='#services-area') My Services
          li
            a(data-scroll='', href='#portfolio-area') Portfolio
          li
            a(data-scroll='', href='#blog-area') My Blog
      .col-12.col-md-3
        h5.column-title Information
        ul.list-unstyled.column-content
          li
            a(href='#0') Terms & Condition
          li
            a(href='#0') Privacy Policy
          li
            a(href='#0') Curriculum Vitae
          li
            a(href='#0') Partners
      .col-12.col-md-3
        h5.column-title Support
        ul.list-unstyled.column-content
          li
            a(data-scroll='', href='#contact-area') Contact Me
          li
            a(href='#0') FAQs
          li
            a(href='#0') Report an issue
      .col-12.col-md-3.logo-wrapper
        img.img-fluid.brand-logo(src=`img/img-logo-dark.png`, alt='CardX')
        p.brand-description Modern Personal Portfolio / CV / vCard / HTML5 Template.
    +nl()
    // Mini footer
    .mini-footer
      p.copyright-notice
        | Copyright © 2019 CardX, all rights reserved. Developed by
        +spc
        a(href='https://themeforest.net/user/exill', target='_blank') Exill
        | .
      .social-medias
        a.twitter(href='#0')
          i.icon.ion-logo-twitter
        a.instagram(href='#0')
          i.icon.ion-logo-instagram
        a.linkedin(href='#0')
          i.icon.ion-logo-linkedin
        a.youtube(href='#0')
          i.icon.ion-logo-youtube
        a.github(href='#0')
          i.icon.ion-logo-github
        a.facebook(href='#0')
          i.icon.ion-logo-facebook
        a.dribbble(href='#0')
          i.icon.ion-logo-dribbble
