+nl()
// Overlay block
#overlay-block.overlay-block
  .f-basis-100
    .overlay-close(data-modal-close)
      span.close-btn
        span.btn-line
  .container
    ul#overlay-menu.overlay-menu.nav.flex-column
      li.nav-item
        a.nav-link(data-scroll='', href='#home-area') Home
      li.nav-item
        a.nav-link(data-scroll='', href='#about-area') About
      li.nav-item
        a.nav-link(data-scroll='', href='#services-area') Services
      li.nav-item
        a.nav-link(data-scroll='', href='#portfolio-area') Portfolio
      li.nav-item
        a.nav-link(data-scroll='', href='#testimonials-area') Clients
      li.nav-item
        a.nav-link(data-scroll='', href='#contact-area') Contact
