+nl()
// Pricing
section#pricing-area.single-section.alt-bg.pricing-area
  .container
    .row
      .col-12
        .section-heading
          h2.section-title Choose a Plan
          p.section-description Get started with my high-quality services
    .row.align-items-center
      +nl()
      // Single plan
      .col-lg-4
        .single-plan.mb-4.mb-sm-5.mb-lg-0
          i.plan-icon.icon.ion-md-egg
          h3.plan-type Standard
          h2.plan-price $19/month
          ul.list-unstyled.plan-list
            li 50 GB Disk Space
            li Unlimited Bandwidth
            li 5 MySQL Database
            li 3 FTP Users
            li Free Domain
          a.btn.button-main.button-scheme.plan-btn(href='#0', role='button') Get Standard
      +nl()
      // Single plan
      .col-lg-4
        .single-plan.plan-popular.mb-4.mb-sm-5.mb-lg-0
          i.plan-icon.icon.ion-ios-rocket
          h3.plan-type Professional
          h2.plan-price $29/month
          ul.list-unstyled.plan-list
            li 100 GB Disk Space
            li Unlimited Bandwidth
            li Unlimited MySQL Database
            li 15 FTP Users
            li Free Domain
          a.btn.button-main.button-scheme.plan-btn(href='#0', role='button') Get Pro
      +nl()
      // Single plan
      .col-lg-4
        .single-plan.mb-0
          i.plan-icon.icon.ion-logo-ionic
          h3.plan-type Business
          h2.plan-price $39/month
          ul.list-unstyled.plan-list
            li Unlimited Disk Space
            li Unlimited Bandwidth
            li Unlimited MySQL Database
            li Unlimited FTP Users
            li Unlimited Domains
          a.btn.button-main.button-scheme.plan-btn(href='#0', role='button') Get Business
