mixin services(theme)
  +nl()
  // Services
  section#services-area.single-section.alt-bg.services-area
    .container
      .row
        .col-12
          .section-heading
            h2.section-title My Services
            p.section-description Services i offer to my clients
      .row
        +nl()
        // Single service
        .col-12.col-md-6.col-lg-4
          .single-service.media
            i.icon.service-icon.ion-logo-css3
            div.service-body.media-body
              h6.service-title Design Trends
              p.service-description
                | Lorem ipsum dolor sit amet,  consectetur adipisicing elit.
        +nl()
        // Single service
        .col-12.col-md-6.col-lg-4
          .single-service.media
            i.icon.service-icon.ion-md-images
            div.service-body.media-body
              h6.service-title PSD Design
              p.service-description
                | Lorem ipsum dolor sit amet,  consectetur adipisicing elit.
        +nl()
        // Single service
        .col-12.col-md-6.col-lg-4
          .single-service.media
            i.icon.service-icon.ion-logo-ionic
            div.service-body.media-body
              h6.service-title Customer Support
              p.service-description
                | Lorem ipsum dolor sit amet,  consectetur adipisicing elit.
        +nl()
        // Single service
        .col-12.col-md-6.col-lg-4
          .single-service.media.mb-lg-0
            i.icon.service-icon.ion-logo-wordpress
            div.service-body.media-body
              h6.service-title Web Development
              p.service-description
                | Lorem ipsum dolor sit amet,  consectetur adipisicing elit.
        +nl()
        // Single service
        .col-12.col-md-6.col-lg-4
          .single-service.media.mb-md-0
            i.icon.service-icon.ion-md-move
            div.service-body.media-body
              h6.service-title Fully Responsive
              p.service-description
                | Lorem ipsum dolor sit amet,  consectetur adipisicing elit.
        +nl()
        // Single service
        .col-12.col-md-6.col-lg-4
          .single-service.media.mb-0
            i.icon.service-icon.ion-ios-rocket
            div.service-body.media-body
              h6.service-title Branding
              p.service-description
                | Lorem ipsum dolor sit amet,  consectetur adipisicing elit.
