+nl()
// Testimonials
section#testimonials-area.single-section.testimonials-area
  .container
    .row
      .col-12
        .section-heading.heading-center
          h2.section-title Testimonials
          p.section-description What my clients think about me
    .row.justify-content-center
      .owl-carousel.owl-theme
        +nl()
        // Single review
        .col-12.col-md-8.offset-md-2
          .single-review
            i.icon.ion-md-quote.review-icon
            p.review-content
              | Daniel did an excellent creative job, addressing our request, and also providing his own graphic insight, he worked with us the entire way, being open to feedback and changes or edits when they arose. Quick and professional. Highly recommended, and will definitely work with him again.
            .review-client
              .media
                img.img-fluid.rounded-circle.client-avatar(src='img/client-1.jpg', alt='Client')
                .client-details
                  h6.client-name Julia Sakura
                  span.client-role Envato Customer
        +nl()
        // Single review
        .col-12.col-md-8.offset-md-2
          .single-review
            i.icon.ion-md-quote.review-icon
            p.review-content
              | Daniel did an excellent creative job, addressing our request, and also providing his own graphic insight, he worked with us the entire way, being open to feedback and changes or edits when they arose. Quick and professional. Highly recommended, and will definitely work with him again.
            .review-client
              .media
                img.img-fluid.rounded-circle.client-avatar(src='img/client-2.jpg', alt='Client')
                .client-details
                  h6.client-name John Santana
                  span.client-role Entrepreneur
        +nl()
        // Single review
        .col-12.col-md-8.offset-md-2
          .single-review
            i.icon.ion-md-quote.review-icon
            p.review-content
              | Daniel did an excellent creative job, addressing our request, and also providing his own graphic insight, he worked with us the entire way, being open to feedback and changes or edits when they arose. Quick and professional. Highly recommended, and will definitely work with him again.
            .review-client
              .media
                img.img-fluid.rounded-circle.client-avatar(src='img/client-3.jpg', alt='Client')
                .client-details
                  h6.client-name Maria Wilson
                  span.client-role Envato Customer
